{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Distance calculate
{% endblock %}
{% block content %}


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Distance to {{ destination }} is:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ distance }}km
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    {{ map|safe }}

    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-lg btn-primary">
    </form>

    <div class="card text-center" style="margin-top: 70px">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">This product includes GeoLite2 data created by MaxMind, available from</h5>
      <p class="card-text"><a href="https://www.maxmind.com">https://www.maxmind.com</a></p>
  </div>
</div>

    {% if request.POST and distance is not None %}
        <script>
            $(window).on('load', function () {
                $('#exampleModal').modal('show')
            });
        </script>
    {% endif %}
{% endblock %}